Plug 'machakann/vim-highlightedyank'
Plug 'tpope/vim-commentary'

set scrolloff=5
set number relativenumber
set clipboard+=unnamed
set clipboard+=ideaput

set hlsearch
set incsearch

noremap <SPACE> <Nop>
let mapleader=" "

nnoremap \e :e ~/.ideavimrc<CR>
nnoremap \r :action IdeaVim.ReloadVimRc.reload<CR>

nnoremap d "_d
nnoremap x "_x
nnoremap r "_r

" Select All
nnoremap <C-A> gg<S-v>G
nnoremap <C-\> :action ActivateTerminalToolWindow<CR>

nnoremap ]] :action MethodDown<CR>
nnoremap [[ :action MethodUp<CR>

nnoremap <leader>gc :action GotoClass<CR>
nnoremap <leader>gd :action GotoImplementation<CR>
nnoremap <leader>gp :action GotToSuperMethod<CR>
nnoremap <leader>gt :action GotoTest<CR>
nnoremap <leader>gb :action Back<CR>
nnoremap <leader>gf :action Forward<CR>

nnoremap <leader>fu :action FindUsages<CR>
nnoremap <leader>ff :action GotoFile<CR>
nnoremap <leader>fb :action Switcher<CR>
nnoremap <leader>= :action ReformatCode<CR>
nnoremap <leader>qa :action CloseAllEditors<CR>
nnoremap <leader>qo :action CloseAllEditorsButActive<CR>
