autostart/**
dconf/**
discord/**
gh/**
github-copilot/**
google-chrome/**
gtk-3.0/**
htop/**
JetBrains/**
jgit/**
lutris/**
mako/**
Microsoft/**
Microsoft\ Teams\ -\ Preview/**
mimeapps.list
pulse/**
Slack/**
spotify/**
systemd/**
teams/**
vlc/**

